<div class="row mt-2">
  <div class="col-md-2">
    <h1>Welcome to Beon Twitter</h1>
    <p> See what’s happening in the world right now</p>
    <% unless user_signed_in? %>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to 'Sign in', new_user_session_path, class: "btn btn-secondary" %>
    <% end %>
  </div>

  <div class="col-md-10">
    <%= form_with model: @tweet, url: "/tweet", method: :create do |form|%>
      <div>
        <%= form.label :body, "What's happening?", class: 'form-label'  %><br>
        <%= form.text_area :body, class: 'form-control' %>
        <% (@tweet&.errors&.full_messages_for(:body) || []).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="d-flex mt-2 justify-content-end">
        <%= form.submit "Tweet", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="tweets mt-3">
      <% @tweets.each do |tweet| %>
        <div class="card my-2">
          <div class="card-header">
            <div class="col-md-6">
              Author:
              <%= tweet.user.username %>

              <% if tweet.user.company %>
                | Organization: <%= tweet.user.company.name %>
              <% end %>
            </div>
            <div class="col-md-6">
              <small><%= time_ago_in_words(tweet.created_at) %></small>
            </div>
          </div>
          <div class="card-body">
            <%= tweet.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
